/* header start */
header {
    position: relative;
    border-bottom: 1px solid var(--color-border);
}

.header-top {
    background-color: var(--color-main);
    padding: 14px 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.header-top a {
    font-weight: 600;
    color: #fff;
}

.header-bottom {
    height: 90px;
    display: flex;
    align-items: center;
}

.header-bottom .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-mobile {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

.header-center .navigation .nav {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.header-center .bi-x-circle {
    display: none;
}

.header-center .nav .nav-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
}

.header-center .nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: relative;
}

.header-center .nav .nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-main);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s ease-in-out;
}

.header-center .nav .nav-item:hover .nav-link::after {
    width: 100%;
}

.header-center .nav .nav-item .nav-link.active {
    color: var(--color-main);
}

.header-center .nav .nav-item .nav-link.active::after {
    width: 100%;
}

.header-center .nav .nav-item i {
    font-size: 16px;
}

.header-right-links {
    display: flex;
    column-gap: 16px;
    align-items: center;

}

.header-right-links i {
    font-size: 18px;
}

.header-right-links i.bi-person {
    font-size: 24px;
}

.header-right-links .toggle-button {
    border: none;
    background-color: transparent;
}

.header-right-links .header-cart {
    position: relative;
}

.header-right-links .header-cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--color-main);
    width: 18px;
    height: 18px;
    text-align: center;
    color: var(--color-light);
    border-radius: 50%;
    font-size: 12px;
}

/* menu dropdown */
header .nav-dropdown {
    position: absolute;
    top: 100%;
    left: -24px;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

header .nav-dropdown .dropdown-menu {
    background-color: var(--color-light);
    width: 140px;
    padding: 16px 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
}

.header-center .nav .nav-item:hover .nav-dropdown {
    opacity: 1;
    visibility: visible;
}

header .nav-dropdown .dropdown-menu .dropdown-menu-item {
    margin-bottom: 8px;
}

header .nav-dropdown .dropdown-menu .dropdown-menu-link {
    font-size: 14px;
    transition: all .3s ease-in-out;
}

header .nav-dropdown .dropdown-menu .dropdown-menu-link:hover {
    color: var(--color-main);
}

/* megamenu  */
.megamenu-wrapper {
    position: static !important;
}

.megamenu-wrapper .nav-dropdown {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.dropdown-megamenu {
    padding: 16px 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, .1);
    display: flex;
    background-color: #fff;
}

.dropdown-megamenu-content {
    display: flex;
    column-gap: 36px;
}

.megamenu-links {
    display: flex;
    column-gap: 36px;
}

.megamenu-links .megamenu-products .megamenu-products-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.megamenu-links .megamenu-products .megamenu-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.megamenu-links .megamenu-products .megamenu-menu-list a {
    font-size: 14px;
}

.megamenu-single .megamenu-single-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.megamenu-single .megamenu-single-desc {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* header end */




/* responsive */
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .header-center {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        border-right: 1px solid var(--color-border);
        height: 100vh;
    }

    .header-center .nav {
        display: flex;
        flex-direction: column;
        padding: 50px 75px;
    }

    .header-center .bi-x-circle {
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 12px;
        font-size: 20px;
        cursor: pointer;
    }

    .header-mobile {
        display: inline-block;
    }

    .nav .nav-item .nav-dropdown {
        display: none;
    }

    header .nav i {
        display: none;
    }
}

@media (max-width: 576px) {}

@media (max-width: 420px) {}